.sqsTable {
    width: 100%;
    // border-collapse: collapse;
    border-spacing: 0 12px;
    th {
        background-color: #f2f2f2;
        color: black;
        &.narrow {
          width: 120px;
        }
    }

    tr {
      padding: 8px;
      margin: 6px;
      background-color: #2f3136;
    
  
      td {
        border: 1px solid #2a2e38;
        padding: 4px;
        margin: 6px 0;

        
      }
    }
}
