.fieldEditor {
    display: flex;
    flex-direction: column;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 6px;
    margin: 6px;

    .fieldWrapper {
        height: 250px;
        max-height: 250px;
        overflow: auto;
    }
}