.sqsTable {
    width: 100%;
    border-spacing: 0 6px;
    th {
        background-color: #f2f2f2;
        background-color: #f90;
        color: white;
        font-size: 14px;
    }

    tr {
      background-color: #E9E9E9;
      
      td {
        border: 1px solid white;
        padding: 4px;
        margin: 6px 0;
      }
    }

    .narrow {
        width: 80px;
    }
}
