.custom-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    /* Add more styles as needed */
  }
  
  .custom-button:hover {
    background-color: #2980b9;
  }