body {
  background-color: white;
  color: #333;
  font-family: 'Roboto, sans-serif',;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #f90;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 6px;
}

.App-link {
  color: #61dafb;
}

.main-wrapper {
  display: flex;

  .left-menu {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 40px;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        padding: 6px 12px;
        margin: 6px;
        border: 1px solid white;
        border-radius: 6px;
        background-color: #d9d9d9;
        
        cursor: pointer;

        &.active {
          background-color: #f90;
        }
        &:hover {
          background-color: rgba(255, 153, 0, 0.524);
        }
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    border-left: 1px solid #545b64;
    min-height: calc(100vh - 80px);
    margin-left: 120px;

    .containerHeader {
      background-color: #f90;
      display: flex;
      line-height: 40px;

      span {
        line-height: 40px;
        padding: 0 12px;
        font-weight: 800;
        font-size: 18px;
      }
    }

    .pageContainer {
      padding: 0 6px;
    }
  }
}

input {
  padding: 3px;
  margin: 0 6px;
}

label {
  font-weight: 800;
}